#logo {
  height: 35px;
}

.navbar {
  font-size: 18px;
}

#playground {
  margin-top: 4em;
  margin-bottom: 4em;
}

#control-panel .progress {
  font-size: 16px;
  height: 36px;
}

#grid-world .card {
  padding: 5px;
  height: 99%;
  width: 99%;
  text-align: center;
}

#grid-world .card-title {
  font-size: 13px;
}

#grid-world .card-body {
  padding: 0px;
}

#grid-world .badge-danger {
  margin-bottom: 2px;
  padding-left: 0px;
  padding-right: 0px;
}

#grid-world .col-1 {
  height: 92px;
  padding-left: 0px;
  padding-right: 0px;
}

#grid-world .card:hover {
  cursor: pointer;
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
}