p {
  margin-top: 16px;
  font-weight: 300;
  font-size: 1rem;
}

li {
  font-weight: 300;
}

select {
  font-weight: 300 !important;
}

select:hover {
  cursor: pointer;
}

footer {
  background-color: #18546f;
  height: 150px;
  color: #fff;
  text-align: center;
  padding: 30px;
}

.navbar {
  font-size: 18px;
}

.jumbotron {
  margin-bottom: 0px;
}

.tooltip-inner {
  min-width: 250px;
  max-width: 400px;
}

.badge {
  border-radius: 0px;
}

.bg-success {
  background-color: #63b980 !important;
}

.border-success {
  border-color: #63b980 !important;
}

#navigation {
  background-color: #00546F !important;
}

#version {
  color: #ffffffb3;
  font-family: monospace;
}

#icon {
  height: 40px;
}

#banner {
  text-align: center;
  padding: 5em;
  padding-top: 10em;
}

#logo {
  height: 225px;
}

#slogan {
  margin-top: 16px;
  color: #fff;
  text-align: center;
}

#external-site-container {
  margin-top: 25px;
}

#external-site-container .btn {
  width: 60px;
}

#external-site-container .btn {
  margin-right: 10px;
  color: #fff;
}

#external-site-container .btn:last-child {
  margin-right: 0px;
}

#overview {
  padding-top: 4em;
  padding-bottom: 4em;
}

#tutorial, #playground, #citation {
  padding-top: 2em;
  padding-bottom: 2em;
}

#citation, #playground {
  background-color: #eee;
}

.separator {
  height: 1px;
  margin-top: 20px;
  background-color: #2e8cba;
}

#root {
  margin-top: 30px;
  margin-bottom: 30px;
}

#warning {
  display: none;
}

#control-panel .progress {
  font-size: 16px;
  height: 36px;
}

#control-panel .progress:hover {
  cursor: pointer;
}

#control-panel .badge {
  height: 100%;
  width: 100%;
  font-size: 21px;
}

#control-panel button {
  width: 100%;
  height: 100%;
}

#control-panel .badge:hover {
  cursor: pointer;
}

#control-panel svg {
  margin-top: -5px;
}

#help-button, #info-button {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 21px;
}

#help-window .badge {
  font-size: 0.8em;
}

#view-selector {
  background-color: #008cba;
  border-color: #008cba;
  color: #fff;
}

#ethics-selector {
  background-color: #43ac6a;
  border-color: #43ac6a;
  color: #fff;
}

#tolerance-selector {
  background-color: #43ac6a;
  border-color: #43ac6a;
  color: #fff;
}

#grid-world .col-1 {
  height: 92px;
  padding-left: 0px;
  padding-right: 0px;
}

#grid-world .card {
  padding: 2px;
  padding-top: 2px;
  height: 99%;
  width: 99%;
  text-align: center;
}

#grid-world .card:hover {
  cursor: pointer;
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
}

#grid-world .card-title {
  font-size: 13px;
}

#grid-world .card-title .highlight {
  border-style: solid;
  border-color: #f04124 !important;
  border-width: 2px;
  border-top: 0px;
  border-bottom: 0px;
}

#grid-world .card-title .badge-info.highlight {
  border-right: 0px;
}

#grid-world .card-title .badge-success.highlight {
  border-left: 0px;
}

#grid-world .card-title .badge-info:first-child {
  margin-right: 3px;
}

#grid-world .card-body {
  padding: 0px;
}

#grid-world .bg-dark .card-body {
  margin-top: 6px;
}

#grid-world .card-body {
  margin-top: -12px;
  margin-left: 3px;
}

#grid-world .card-body .row {
  height: 22px;
}

#grid-world .badge-danger {
  margin-bottom: 2px;
  padding-left: 0px;
  padding-right: 0px;
}

@media (max-width: 990px) {
  #root, #directions {
    display: none;
  }
  
  #warning {
    display: block;
  }

  #overview .col-md-4 {
    margin-bottom: 25px;
  }

  #overview .col-md-4:last-child {
    margin-bottom: 0px;
  }
}